# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt -t lib/' to install these dependencies
# in `lib/` subdirectory.
#
# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.
Flask==0.10
twilio
beautifulsoup4
requests==2.3.0
#Requests not working with GAE's local server. Just the version 2.3.0 seems to be working.